header {

    height: 70px;
    width:  100%;

    position: absolute;

    left: 0;
    top:  0;

    background-color: var(--bg);

    z-index: 2;

}

h1 {

    margin-left: 15px;
    margin-top:  15px;

}

.menuButton {

    height: 70px;
    width:  70px;

    position: absolute;

    top:   0;
    right: 0;

    padding: 0;
    margin:  0;

    background: none;

    border: none;

    cursor: pointer;
    transition: transform 0.3s ease;

}

.menuButton img {

    height: 70px;
    width:  70px;
    
}

#calculator {

    height: calc(100% - 70px);
    width:  100%;

    position: absolute;
    
    top: 70px;

    background-color: var(--bg);

}

#screen {

    height: 25%;
    width:  100%;

    position: absolute;

    background-color: var(--bg);

    font-size: 7vh;

    display:         flex;
    justify-content: right;
    align-items:     center;

}

#screen p {

    margin: 3vw;

}

#buttons {

    height: 75%;
    width:  100%;

    top:      25%;
    position: absolute;

    display:               grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:    repeat(5, 1fr);

}

.buttons {

    background-color: var(--bg);
    color:            var(--text);

    font-size: 5vh;

    border: none;

}