:root {
    --bg:   #FFFFFF;
    --text: #000000;   
}

[data-theme="white"] {
    --bg:   #FFFFFF;
    --text: #000000;
}

[data-theme="black"] {
    --bg:   #000000;
    --text: #FFFFFF;
}

[data-theme="blue"] {
    --bg:   #ADD8E6;
    --text: #FFFFFF;
}

[data-theme="green"] {
    --bg:   #90EE90;
    --text: #FFFFFF;
}

[data-theme="pink"] {
    --bg:   #FFB6C1;
    --text: #FFFFFF;
}

[data-theme="purple"] {
    --bg:   #CBC3E3;
    --text: #FFFFFF;
}